[submodule "core-services/hangout-auth-api"]
	path = core-services/hangout-auth-api
	url = https://github.com/opticSquid/hangout-auth-api.git
[submodule "core-services/hangout-post-api"]
	path = core-services/hangout-post-api
	url = https://github.com/opticSquid/hangout-post-api.git
[submodule "core-services/hangout-vendor-api"]
	path = core-services/hangout-vendor-api
	url = https://github.com/opticSquid/hangout-vendor-api.git
[submodule "core-services/hangout-notification-service"]
	path = core-services/hangout-notification-service
	url = https://github.com/opticSquid/hangout-notification-service.git
[submodule "core-services/hangout-storage-service"]
	path = core-services/hangout-storage-service
	url = https://github.com/opticSquid/hangout-storage-service.git
[submodule "app"]
	path = app
	url = https://github.com/opticSquid/hangout-android-app.git
[submodule "hangout-web"]
	path = hangout-web
	url = https://github.com/opticSquid/hangout-web.git
[submodule "core-services/hangout-profile-api"]
	path = core-services/hangout-profile-api
	url = https://github.com/opticSquid/hangout-profile-api.git
[submodule "hangout-infra"]
	path = hangout-infra
	url = https://github.com/opticSquid/infra.git
